
html, body {
    font-family: "Cherry Bomb One", system-ui;
    font-size: 20px;
    letter-spacing: 0.8px;
    min-height: 100vh;
    color: white ;
    background-color:#74B399;
}

h1 {
    margin: -30px auto 0px auto;
    color: white;
    font-size: 3.8rem;
}

p {
    margin: 0;
}

.app-startmessage {
    height: 100px;
    margin: 0 auto 20px auto;
    font-family: 'Sour Gummy',system-ui;
    font-size: 1.25rem;
}

.app-container {
    width: 250px;
    height: 420px;
    margin: 40px auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

.app-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 300px;
  height: 300px;
}

.circle-shape {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.semi-circle {
  position: absolute;
  width: 150px;
  height: 300px;
  box-sizing: border-box;
  border: solid 6px;
}

.left-side {
  top: 0;
  left: 0;
  transform-origin: right center;
  transform: rotate(0deg);
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  border-right: none;
  z-index: 1;
}

 .right-side {
  top: 0;
  left: 150px;
  transform-origin: left center;
  transform: rotate(0deg);
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  border-left: none;
}

.circle {
    border-color: white;
}

.circle-mask {
    border-color: white;
}

.app-counter-box {
    font-family: 'Sour Gummy', system-ui;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: white;
    font-size: 4.5rem;
    text-align: center;
    width: 100%;
}

button {
    position: relative;
    top: 185px;
    font-size: 1.1rem;
    font-family: 'Sour Gummy', system-ui;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

button:hover {
    color: #dbdbdb;
}

#theme-picker {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    top:20px;
    right: 20px;
    position: fixed;
}
#theme-picker span{
    fill: black;
}

#theme-picker span:last-child{
    display: none;
}

.darkmode #theme-picker span:first-child {
    display: none;
}
.darkmode #theme-picker span:last-child {
    display: block;
}


html.darkmode, html.darkmode body {
    background-color: #3b3b3b;
    color: #dbdbdb;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#theme-picker-2 {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #B3748E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 80px;
} 


html.pinkmode, html.pinkmode body {
    background-color: #B3748E;
    color: white;
}

#theme-picker-3 {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #7974B3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 140px;
} 

html.purplemode, html.purplemode body {
    background-color: #7974B3;
    color: white;
}

#theme-picker-4 {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #748EB3;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    position: fixed;
    right: 200px;
} 

html.bluemode, html.bluemode body {
    background-color: #748EB3;
    color: white;
}

#theme-picker-default {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #74B399;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 260px;
    position: fixed;
}

html.defaultmode, html.defaultmode body {
    background-color: #74B399;
    color: white;
}

#theme-picker,
#theme-picker-2,
#theme-picker-3,
#theme-picker-4,
#theme-picker-default {
  border: 2px solid white;
  border-radius: 50%;
}

.tasks-container {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background: transparent;
    padding: 0;
    margin-top: -20px;
}

.tasks {
    width: 100%;
    max-width: 540px;
    background:white;
    margin: 100px auto 20px;
    padding: 30px 30px 50px;
    border-radius: 10px;
    top: 600px;
}

.tasks h2{
    color:#555 ;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -5px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dbdbdb;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 0;
    border-radius: 50px;
    top: 1px;
    cursor: pointer;
    font-family: 'Sour Gummy', system-ui;
}

.row button:hover {
    background-color: #969696;
}


input[type="text"] {
    flex: 1;
    color: black !important; 
    padding: 10px;
    font-size: 1rem;
    font-family: 'Sour Gummy', system-ui;
    background-color: #dbdbdb !important;
    border: none;
    outline: none;
}

ul li {
list-style: none;
font-size: 17px;
color: black;
padding: 12px 8px 12px 50px;
user-select: none;
cursor: pointer;
position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/radio_button_unchecked_24dp_0D0D0D_FILL1_wght400_GRAD0_opsz24.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.done{
    color: #555;
    text-decoration: line-through;
}

ul li.done::before {
    background-image: url(images/radio_button_checked_24dp_0D0D0D_FILL1_wght400_GRAD0_opsz24.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #c4c4c4;
}